# Node_modules en Backend y Frontend
node_modules/

# Archivo oculto macOS
.DS_Store

# Archivos logs
.log

# Archivos de configuración sensibles
.env
.env.production
.env.development

# Archivos de compilación en React/Vite
build/
dist/

# Ignorar caché de la base de datos
database.sqlite

# Ignorar lista de pendientes
pendientes.mkd